h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

p{
    margin: 0;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    transition: .7s;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

a {
    text-decoration: none;
    line-height: normal;
    cursor: pointer;
    transition: .7s;
}

img, svg {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    scrollbar-width: thin;
}

::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
}

::-webkit-input-placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
}

::-moz-placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
}

:-ms-input-placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
}

:root {
  --font-family: "Gilroy", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #151515;
    font-family: var(--font-family);

    &.hidden {
        overflow: hidden;
    }
}

.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    transition: .7s;
    color: #fff;
}

.title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #fee348;
}

.content {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
}

.hover__text {
    &:hover {
        color: #fee348;
    }
}

.hover__button {
    &:hover {
        background-color: #fee348;
    }
}

.hover__svg {
    &-path {
        transition: .7s;
    }

    &:hover {
        .hover__svg-path {
            fill: #fee348;
        }
    }
}



.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    display: flex;
}

.opacite {
    background: rgba(0, 0, 0, .5);
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    backdrop-filter: blur(3px);

    &.active {
        display: block;
    }
}

.header {
    flex: 0 0 auto;
    width: calc(100vw - 20px);
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(100px);
    background: rgba(0, 0, 0, 0.4);
    border-radius: 100px;
    padding: 17.5px 40px;
    z-index: 100000000;
    max-width: 1420px;

    &__burger {
        display: none;
    }

    &__logo {
        display: flex;
        gap: 5px;
        margin-right: 100px;

        & img {
            object-fit: contain;

            &:first-child {
                max-width: 105px;
            }

            &:last-child {
                max-width: 48px;
            }
        }
    }

    &__row {
        align-items: center;
        justify-content: space-between;
    }

    &__lang {
        display: flex;
        gap: 10px;
        align-items: center;

        &-item {
            position: relative;

            &.active {
                & .text {
                    color: #fee348;
                }

                & .header__lang-line {
                    display: block;
                }
            }
        }

        &-line {
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 20px;

        &-social {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
        }

        &-main {
            border-radius: 30px;
            padding: 6px 12px;
            min-width: 154px;
            background-color: #fff;
            transition: .7s;

            & span {
                color: #000;
            }
        }
    }

    & nav {
        margin-left: 0;
        margin-right: auto;
    }

    &__service {
        flex-direction: column;
        padding: 20px 40px;
        gap: 20px;
        backdrop-filter: blur(100px);
        background: rgba(0, 0, 0, 0.7);
        border-radius: 20px;
        position: absolute;
        top: calc(100% + 10px);
        display: none;
    }

    &__serviceJS {
        &.active {
            & .header__service {
                display: flex;
            }

            & .header__menuJS {
                & span {
                    color: #fee348;
                }

                & div svg path {
                    stroke: #fee348;
                }
            }
        }
    }

    &__menu {
        display: flex;
        gap: 30px;
        align-items: center;

        &-more {
            flex-shrink: 0;
            
            & svg path {
                transition: .7s;
            }
        }

        &-item {
            &:first-child {
                gap: 1px;
                display: flex;
                align-items: center;

                & span {
                    transition: .7s;
                }

                &:hover {
                    & span {
                        color: #fee348;
                    }

                    & div svg path {
                        stroke: #fee348;
                    }
                }
            }
        }
    }
}

.footer {
    flex: 0 0 auto;

    &__row {
        padding: 40px 0 50px 0;
        flex-direction: column;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        gap: 40px;
        margin-left: 0;
        margin-right: auto;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-second {
            & .text {
                font-weight: 700;
            }
        }

        &-mini {
            list-style: disc;
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: #fff;
            opacity: .8;
            margin-left: 25px;
            margin-top: 5px;

            & li {
                list-style: disc;
                transition: .7s;

                &:hover {
                    color: #FEE348;
                }
            }
        }
    }

    &__logo {
        gap: 5px;
        display: flex;
        flex-direction: column;
        margin-right: 240px;

        & img {
            &:first-child {
                max-width: 234px;
            }

            &:last-child {
                max-width: 237px;
            }
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: end;
    }

    &__bottom {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 110%;
        color: #fff;
        margin-top: 25px;
    }
}

.main {
    flex: 1 0 auto;  
    display: flex;
    flex-direction: column;
}

.first {
    height: 100dvh;
    position: relative;
    align-items: center;
    display: flex;

    &__gradient {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 60px;
        line-height: 100%;
        text-align: center;
        color: #fff;
        text-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.29), 0 21px 21px 0 rgba(0, 0, 0, 0.26), 0 47px 28px 0 rgba(0, 0, 0, 0.15), 0 84px 33px 0 rgba(0, 0, 0, 0.04), 0 131px 37px 0 rgba(0, 0, 0, 0.01);
    }

    &__row {
        position: relative;
        z-index: 2;
        flex-direction: column;
        max-width: 796px;
        text-align: center;
    }

    & .container {
        display: flex;
        justify-content: center;
        height: 100%;
        position: relative;
        align-items: center;
    }

    &__subtitle {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    &__star {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        gap: 10px;
    }

    &__client {
        backdrop-filter: blur(150px);
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        padding: 20px;
        gap: 10px;
        position: absolute;
        right: 95px;
        top: 180px;
        z-index: 20;
        max-width: 255px;
        display: flex;
        flex-direction: column;

        & p {
            margin-left: 20px;
        }

        &-stars {
            display: flex;
            gap: 3px;
            margin-left: 20px;
        }

        &-button {
            border-radius: 30px;
            padding: 10px 20px;
            background: #fee348;
            min-width: 215px;
            text-align: center;
            display: flex;
            justify-content: center;

            &:hover {
                background: rgba($color: #fee348, $alpha: .5);
            }

            & span {
                color: #000;
            }
        }
    }
    
    &__button {
        border-radius: 30px;
        padding: 10px 20px;
        background: #fff;
        width: 166px;
        margin: 0 auto;

        & span {
            color: #000;
        }
    }
}

.project {
    border-radius: 30px 30px 0 0; 
    margin-top: -37px; 
    position: relative;
    z-index: 10;
    background-color: #151515;
    margin-bottom: 120px;

    &__overlay {
        position: absolute;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: .6s;
        opacity: 0;
        z-index: 1;

        & .text {
            color: #000;
        }

        &-chip {
            display: flex;
            gap: 5px;
        }

        &-text {
            background-color: #FEE348;
            border-radius: 30px;
            padding: 5px 10px;
            max-width: max-content;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        gap: 20px;
        margin-top: 25px;

        &-text {
            display: flex;
            flex-direction: column;
            flex: 0 0 auto;
        }

        &-title {
            font-weight: 700;
            color: #FEE348;
        }

        &-item {
            overflow: hidden;
            border-radius: 20px;
            position: relative;
            max-height: 500px;
            
            &:hover {
                & img {
                    transform: scale(1.1);
                    opacity: .8;
                }

                & .project__overlay {
                    opacity: 1;
                }
            }

            & img {
                border-radius: 20px;
                height: 100%;
                min-height: 0;
                flex: 1 1 auto;
                transition: transform .6s, opacity .6s;
                width: 100%;
            }

            &-big {
                grid-column: span 2;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                border-radius: 0;
                min-height: 0
            }

            &:nth-child(1) {
                grid-column: 1 / 2;
            }

            &:nth-child(2) {
                grid-column: 2 / span 2;
            }

            &:nth-child(3) {
                grid-column: 4 / 5;
            }

            &:nth-child(4) {
                grid-column: 1 / span 2;
            }
            
            &:nth-child(5) {
                grid-column: 3 / 4;
            }

            &:nth-child(6) {
                grid-column: 4 / 5;
            }
        }
    }

    &__row {
        padding-top: 20px;
        flex-direction: column;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 5px;

        & .text {
            color: #FEE348;
        }
    }

    &__button {
        border: 1px solid #000;
        border-radius: 30px;
        padding: 10px 20px;
        background: #fee348;
        max-width: max-content;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;

        &:hover {
            background: rgba($color: #fee348, $alpha: .8);
        }

        & span {
            color: #000;
        }
    }
}

@keyframes gradientShift {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

// @keyframes dashMove {
//     to { stroke-dashoffset: 28; }
// }

.rule {
    margin-bottom: 120px;

    &__button {
        border: 1px solid #000;
        border-radius: 30px;
        padding: 10px 20px;
        background: #fee348;
        max-width: 300px;
        width: 100%;
        margin: 40px auto 0;

        &:hover {
            background: rgba($color: #fee348, $alpha: .7);
        }

        & span {
            color: #000;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 48px;
        line-height: 100%;
        text-align: center;
        color: #FEE348;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
        margin-top: 60px;
        justify-content: space-between;
    }

    &__item {
        width: calc(25% - 17px);
        display: flex;
        flex-direction: column;
        gap: 40px;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
        overflow: hidden;

        &-title {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 40px;
            line-height: 100%;
            color: #0d0d0d;
        }

        &-content {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #191919;
            gap: 10px;
            display: flex;
            flex-direction: column;

            & p:first-child {
                font-weight: 600;
            }
        }

        &-first {
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
            background: conic-gradient(
                from 180deg,
                #FEE348 13%, 
                #FFF097 35%, 
                #FEE348 55%, 
                #FFF097 86%, 
                #FEE348 100% 
            );
        }
    
        &-second {
            position: relative;
            background: linear-gradient(215deg, #fee348 0%, #fff097 37.02%, #fff097 62.98%, #fee348 100%);
            background-size: 100% 100%;
            animation: gradientShift 7s ease infinite;

            & svg {
                position: absolute;
                top: 0;
                left: 0;

                & path {
                    stroke: black;               
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    filter: drop-shadow(0 0 6px rgba(255,224,72,0.4)); 
                    stroke-dasharray: 24 4;   
                    stroke-dashoffset: 0;
                    animation: dashMove 2s linear infinite;
                }
            }
        }

        &-third {
            backdrop-filter: blur(100px);
            background: conic-gradient(
                from 180deg,
                #FEE348 13%, 
                #FFF097 35%, 
                #FEE348 55%, 
                #FFF097 86%, 
                #FEE348 100% 
            );
        }

        &-fourth {
            background: linear-gradient(215deg, #fee348 0%, #fff097 37.02%, #fff097 62.98%, #fee348 100%);
            background-size: 100% 100%;
            animation: gradientShift 7s ease infinite;
            position: relative;

            & svg {
                position: absolute;
                bottom: 0;
                left: 0;

                & path {
                    stroke: black;               
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    filter: drop-shadow(0 0 6px rgba(255,224,72,0.4)); 
                    stroke-dasharray: 24 4;   
                    stroke-dashoffset: 0;
                    animation: dashMove 2s linear infinite;
                }
            }
        }

        &-first, &-third {
            position: relative;
            border-radius: 20px;
            overflow: hidden;
            z-index: 0;

            &::before {
                content: "";
                position: absolute;
                top: -50%; left: -50%;
                width: 200%;
                height: 200%;
                border-radius: 50%; // делаем круг
                background: conic-gradient(
                    from 180deg,
                    #FEE348 13%, 
                    #FFF097 35%, 
                    #FEE348 55%, 
                    #FFF097 86%, 
                    #FEE348 100%
                );
                z-index: -1;
                animation: rotateGradient 10s linear infinite;
            }
        }

        @keyframes rotateGradient {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }
    }
}

.service {
    margin-bottom: 120px;

    &__row {
        flex-direction: column;
    }

    &__ring {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
        pointer-events: none;

        &-circle {
            fill: none;
            stroke: #000;
            stroke-width: 4;      
            stroke-linecap: round;        
            stroke-dasharray: 302;        
            stroke-dashoffset: 302;
            transition: stroke-dashoffset .8s ease;
        }
    }

    &__circle {
        position: relative;
        width: 52px;
        height: 52px;
        padding: 10px;
        border-radius: 50%;
        display: grid;
        place-items: center;
    }

    &__block {
        background: linear-gradient(90deg, #FEE348 0%, #FFF097 100%);
        border-radius: 30px;
        overflow: hidden;
        padding: 0px 44px;
        position: relative;
        margin-bottom: 20px;
        margin-top: 60px;
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 60px;
        line-height: 100%;
        color: #191919;

        &-block {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 30px;
        padding-top: 60px;
        border-bottom: 1px solid #000;
        max-width: 927px;
        
        &:hover .service__ring-circle {
            stroke-dashoffset: 0;
        }

        &:last-child {
            border: none;
            padding-bottom: 60px;
        }

        &:first-child {
            padding-top: 60px;
        }
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 24px;
        line-height: 110%;
        color: #191919;
        max-width: 850px;
        transition: .5s;

        & ul, li {
            list-style: disc;
            margin-left: 15px;
        }
    }

    &__lines {
        position: absolute;
        right: 0;
        pointer-events: none;
        top: 0;
        
        & path {
            stroke: black;               
            stroke-width: 1;
            stroke-linecap: round;
            stroke-linejoin: round;
            filter: drop-shadow(0 0 6px rgba(255,224,72,0.4)); 
            stroke-dasharray: 24 4;   
            stroke-dashoffset: 0;
            animation: dashMove 2s linear infinite;
        }
    }
}

.talk {
    background: linear-gradient(-90deg, #FEE348 0%, #FFF097 100%);
    position: relative;
    border-radius: 30px 30px 0 0;
    overflow: hidden;

    &__row {
        padding: 85px 0;
        justify-content: center;
    }

    &__popup {
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        padding: 20px 40px;
        backdrop-filter: blur(100px);
        background: rgba(0, 0, 0, 0.35);
        position: relative;
        align-items: center;
        z-index: 10;

        & .content {
            max-width: 320px;
            text-align: center;
            margin: 20px 0 30px 0;
        }

        & .title {
            color: #fff;
        }
    }

    &__lines {
        pointer-events: none;

        & path {
            stroke: black;               
            stroke-width: 1;
            stroke-linecap: round;
            stroke-linejoin: round;
            filter: drop-shadow(0 0 6px rgba(255,224,72,0.4)); 
            stroke-dasharray: 24 4;   
            stroke-dashoffset: 0;
            animation: dashMove 2s linear infinite;
        }

        &-1 {
            position: absolute;
            top: 0;
            left: 0;
        }

        &-2 {
            position: absolute;
            top: 0;
            left: 0;
        }

        &-3 {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

.popup {
    & input:focus, textarea:focus {
        outline: none;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #fff;
    }

    & input, textarea {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #fff;
    }

    &__button {
        border-radius: 30px;
        padding: 10px 25px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: #000;    
        transition: .7s;
        background: #fff;
        max-width: max-content;
        display: flex;
        margin: 10px auto 0 auto;

        &:hover {
            background: #FEE348;
        }
    }

    &__custom {
        &-box {
            border-radius: 2px;
            width: 16px;
            margin-right: 10px;
            height: 16px;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #fff;

            & svg {
                opacity: 0;
                transform: scale(0.8);
                transition: opacity .15s ease, transform .15s ease;
            }
        }
    }

    &__checkbox {
        &-group {
            position: relative;
            align-items: center;
            display: flex;
            margin-left: 10px;
            margin-bottom: 10px;

            & input[type="checkbox"]:checked + label .popup__custom-box svg {
                opacity: 1;
                transform: scale(1);
            }

            & input[type="checkbox"]:checked + .popup__checkbox-label .popup__custom-box { 
                transform: translateY(-0.5px);
            }

            & input[type="checkbox"]:checked + .popup__checkbox-label .popup__custom-box .check {
                transform: scale(1);
                opacity: 1;
            }

            & input[type="checkbox"]:focus + .popup__checkbox-label .popup__custom-box {
                outline: none;
            }

            & input[type="checkbox"] {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0 0 0 0);
                white-space: nowrap;
                border: 0;
            }

            & label {
                cursor: pointer;
                user-select: none;
                display: flex;
                align-items: center;

                & span {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 110%;
                    color: #fff;
                }
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        max-width: 314px;

        &-group {
            position: relative;
            margin-bottom: 10px;

            & label {
                position: absolute;
                top: 18px;
                left: 20px;
            }

            & input {
                border: 1px solid #fff;
                border-radius: 20px;
                padding: 10px 20px;
                background: transparent;
                width: 100%;
                outline: none;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                color: #fff;
            }
        }
    }
}

.article {
    margin-bottom: 180px;

    &__row {
        display: flex;
        flex-direction: column;
    }

    &__wrapper {
        display: flex;
        gap: 20px;
        margin-top: 60px;
        margin-bottom: 20px;
    }

    &__big {
        width: calc(50% - 10px);
        background: rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        padding: 20px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: .7s;

        &:hover {
            background: rgba(255, 255, 255, 0.3);

            & img {
                transform: scale(1.1);
            }
        }

        &-img {
            border-radius: 20px;
            overflow: hidden;

            & img {
                transition: transform .6s;
                border-radius: 20px;
            }
        }

        &-content {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;

            & .text {
                font-weight: 700;
                color: #FEE348;
            }

            &-data {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 12px;
                line-height: 110%;
                color: #fff;
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
    }

    &__small {
        width: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        gap: 9px;

        &-item {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 20px;
            padding: 20px;
            transition: .7s;
            height: 100%;

            &:hover {
                background: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

.burger {
    position: absolute;
    overflow-y: hidden;
    display: none;
    flex-direction: column;
    background: #191919;
    right: -10px;
    top: -8px;
    padding: 20px 20px 30px 20px;
    width: 360px;
    height: 100dvh;
    z-index: 100000;

    &.active {
        display: flex;
    }

    &__close {
        display: flex;
        justify-content: end;

        & svg {
            width: 40px;
        }
    }

    & .text {
        font-size: 30px;
        color: #FEE348;
    }

    &__tel {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 26px;
        line-height: 100%;
        color: #fee348;
    }

    &__buttons {
        margin-top: auto;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;

        &-left {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    & .header {
        &__lang {
            & .text {
                color: #fff;
            }

            &-item {
                &.active {
                    & .text {
                        color: #FEE348;
                    }
                }
            }
        }

        &__menu {
            flex-direction: column;
            align-items: start;
            width: 100%;
            gap: 0;

            &-more {
                width: auto;
                
                & svg {
                    transition: .5s;
                }
            }

            & li {
                width: 100%;
                border-bottom: 1px solid #fee348;

                &:last-child {
                    border: none;
                }
            }

            &-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 13px 0;
            }
        }

        &__button {
            &-social {
                gap: 10px;

                & svg {
                    & path:first-child {
                        fill: #FEE348;
                    }
                }
            }
        }

        &__service {
            position: relative;
            padding: 0;
            gap: 0;
            border-radius: 0;
            top: auto;
            background: transparent;

            & a {
                font-size: 20px;
                padding: 5px 0;
                border-bottom: 1px solid #fee348;

                &:last-child {
                    border: none;
                    padding-bottom: 20px;
                }
            }
        }
        
        &__serviceJS {
            &.active {
                border: none;

                & .header__menu-more svg {
                    transform: rotate(90deg);
                }
            }
        }
    }

    & nav {
        margin: 0 0 40px 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.Project {
    &__row {
        flex-direction: column;
        padding-top: 127px;
        padding-bottom: 70px;

        & h1 {
            color: #FEE348;
        }
    }

    &.is-filtering .Project__grids {
        display: none;
    }

    &.is-filtering .Project__filtered {
        display: grid;
    }

    &__grids {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        & .project__grid {
            display: none;
        }

        & .project__grid:nth-of-type(1) {
            display: grid;
        }

        & .project__grid:nth-of-type(2) {
            display: grid;
        }

        & .project__grid:nth-of-type(6n + 2) {

            .project__grid-item:nth-child(1) {
                grid-column: 1 / 2;
            }

            .project__grid-item:nth-child(2) {
                grid-column: 2 / span 2;
            }
        }

        & .project__grid:nth-of-type(6n + 3) {
            .project__grid-item:nth-child(1) {
                grid-column: 1 / 2;
            }

            .project__grid-item:nth-child(2) {
                grid-column: 2 / 3;
            }

            .project__grid-item:nth-child(3) {
                grid-column: 3 / span 2;
            }
        }

        & .project__grid:nth-of-type(6n + 4) {
            .project__grid-item:nth-child(1) {
                grid-column: 1 / 2;
            }

            .project__grid-item:nth-child(2) {
                grid-column: 2 / 3;
            }

            .project__grid-item:nth-child(3) {
                grid-column: 3 / 4;
            }

            .project__grid-item:nth-child(4) {
                grid-column: 4 / 5;
            }

            .project__grid-item:nth-child(5) {
                grid-column: 1 / span 2;
            }
        }

        & .project__grid:nth-of-type(6n + 5) {
            .project__grid-item:nth-child(1) {
                grid-column: 1 / 2;
            }

            .project__grid-item:nth-child(2) {
                grid-column: 2 / 3;
            }

            .project__grid-item:nth-child(3) {
                grid-column: 3 / 4;
            }

            .project__grid-item:nth-child(4) {
                grid-column: 4 / 5;
            }

            .project__grid-item:nth-child(5) {
                grid-column: 1 / 2;
            }

            .project__grid-item:nth-child(6) {
                grid-column: 2 / span 2;
            }
        }

        & .project__grid:nth-of-type(6n + 6) {
            .project__grid-item:nth-child(1) {
                grid-column: 1 / 2;
            }

            .project__grid-item:nth-child(2) {
                grid-column: 2 / 3;
            }

            .project__grid-item:nth-child(3) {
                grid-column: 3 / 4;
            }

            .project__grid-item:nth-child(4) {
                grid-column: 4 / 5;
            }

            .project__grid-item:nth-child(5) {
                grid-column: 1 / 2;
            }

            .project__grid-item:nth-child(6) {
                grid-column: 2 / 3;
            }

            .project__grid-item:nth-child(7) {
                grid-column: 3 / span 2;
            }
        }
    }

    &__grid {
        margin-top: 0;

        & .project {
            &__grid {
                &-item {
                    max-height: 430px;

                    &:nth-child(1) {
                        grid-column: 1 / span 2;
                    }

                    &:nth-child(2) {
                        grid-column: 3 / 4;
                    }

                    &:nth-child(3) {
                        grid-column: 4 / 5;
                    }

                    &:nth-child(4) {
                        grid-column: 1 / 2;
                    }
                    
                    &:nth-child(5) {
                        grid-column: 2 / 3;
                    }

                    &:nth-child(6) {
                        grid-column: 3 / 4;
                    }

                    &:nth-child(7) {
                        grid-column: 4 / 5;
                    }
                }
            }
        }
    }

    &__breadcrumbs {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 45px;

        & .text {
            & a {
                color: #fee348;
                opacity: .5;

                &:last-child {
                    opacity: 1;
                }
            }
        }
    }

    &__filters {
        display: flex;
        align-items: start;
        margin: 20px 0;
        flex-wrap: wrap;
        gap: 15px 10px;

        & .is-active {
            background: rgb(255 165 0);
        }

        & button {
            padding: 5px 20px;
            gap: 10px;

            &:last-child {
                opacity: .8;
            }
        }
    }
}

.mob {
    display: none;
}

@media (max-width: 1439px) {
    .container {
        padding: 0 70px;
    }

    .first {
        &__title {
            font-size: 42px;
        }

        &__button {
            width: 118px;
            padding: 7px 14px;
        }
    
        &__subtitle {
            margin: 10px 0 20px 0;

            & svg {
                width: 11px;
                height: auto;
            }
        }

        &__row {
            max-width: 566px;
        }

        &__client {
            gap: 7px;
            padding: 14px;
            top: 130px;
            right: 70px;
            max-width: 181px;

            &-stars {
                margin-left: 14px;
            }

            & p {
                margin-left: 14px;
            }

            &-button {
                min-width: auto;
                padding: 7px 14px;
            }
        }
    }

    .header {
        padding: 15px 30px;

        &__logo {
            margin-right: 70px;

            & img {
                &:first-child {
                    max-width: 75px;
                }

                &:last-child {
                    max-width: 34px;
                }
            }
        }

        &__service {
            padding: 20px;
            gap: 10px;
        }

        &__menu {
            gap: 22px;
        }

        &__button {
            gap: 14px;

            &-main {
                padding: 4px 8px;
                min-width: 110px;
            }

            &-social {
                gap: 7px;

                & svg {
                    width: 27px;
                    height: auto;
                }
            }
        }
    }

    .project {
        margin-bottom: 90px;
        margin-top: -27px;
        border-radius: 20px 20px 0 0;

        &__button {
            padding: 7px 14px;
            gap: 14px;

            & svg {
                width: 11px;
                height: auto;
            }
        }

        &__overlay {
            & svg {
                width: 11px;
                height: auto;
            }
        }

        &__row {
            padding-top: 15px;
        }

        &__grid {
            margin-top: 15px;
            gap: 14px;

            &-item {
                max-height: 350px;
            }
        }

        &__title {
            & svg {
                width: 11px;
                height: auto;
            }
        }
    }

    .title {
        font-size: 32px;
    }

    .text {
        font-size: 14px;
    }

    .content {
        font-size: 11px;
    }

    .rule {
        margin-bottom: 90px;

        &__wrapper {
            margin-top: 43px;
            gap: 16px;
        }

        &__item {
            width: calc(25% - 12px);
            padding: 14px;
            gap: 28px;
            border-radius: 14px;

            &-title {
                font-size: 28px;
            }

            &-content {
                gap: 7px;
            }
        }

        &__button {
            margin-top: 28px;
            max-width: 213px;
            padding: 7px 14px;
        }
    }

    .service {
        margin-bottom: 90px;

        &__block {
            margin-top: 43px;
            padding: 43px 32px;
            border-radius: 20px;
        }

        &__title {
            font-size: 42px;
        }

        &__text {
            font-size: 17px;
        }

        &__item {
            padding-top: 43px;
            padding-bottom: 20px;
            max-width: 660px;
        }
    }

    .article {
        &__wrapper {
            margin-top: 43px;
            gap: 14px;
        }

        &__big {
            padding: 14px;
            gap: 14px;

            &-content {
                &-data {
                    margin-top: 4px;
                    margin-bottom: 8px;
                }

                &-right {
                    & svg {
                        width: 28px;
                        height: auto;
                    }
                }
            }
        }

        &__small {
            &-item {
                padding: 14px;
            }
        }
    }

    .talk {
        &__row {
            padding: 40px 0;
        }

        &__popup {
            padding: 14px 28px;
            border-radius: 20px;
            min-width: 389px;

            & .content {
                margin: 14px 0 20px 0;
                max-width: 228px;
            }

            & .title {
                max-width: 228px;
            }
        }
    }

    .popup {
        &__button {
            font-size: 14px;
            padding: 7px 17px;
        }

        &__form {
            max-width: 223px;

            &-group {
                & input {
                    font-size: 11px;
                }
            }
        }

        & input:focus, textarea:focus {
            font-size: 11px;
        }

        & input, textarea {
            font-size: 11px;
        }

        &__checkbox {
            &-group {
                & label {
                    & span {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    ::placeholder {
        font-size: 11px;
    }

    ::-webkit-input-placeholder {
        font-size: 11px;
    }

    ::-moz-placeholder {
        font-size: 11px;
    }

    :-ms-input-placeholder {
        font-size: 11px;
    }

    .footer {
        &__row {
            padding: 30px 0 20px 0;
        }

        &__social {
            gap: 7px;
        }

        &__menu {
            gap: 7px;

            &-mini {
                gap: 3px;
            }
        }

        &__bottom {
            font-size: 10px;
        }

        &__logo {
            & img {
                &:first-child {
                    max-width: 167px;
                }

                &:last-child {
                    max-width: 169px;
                }
            }
        }
    }

    .Project {
        &__row {
            padding-bottom: 45px;
            padding-top: 90px;
        }

        &__breadcrumbs {
            margin-bottom: 35px;
        }

        &__grid {
            & .project__grid-item {
                max-height: 307px;
            }
        }

        & .project__grid {
            margin-top: 0;
        }

        &__grids {
            gap: 13px;
        }

        &__filters {
            margin: 15px 0;
            gap: 7px 5px;
        }
    }
}

@media (max-width: 1023px) {
    .container {
        padding: 0 50px;
    }

    .first {
        &__title {
            font-size: 32px;
        }

        &__star {
            gap: 5px;
        }

        &__button {
            width: 89px;
            padding: 5px 10px;
        }
    
        &__subtitle {
            margin: 8px 0 16px 0;

            & svg {
                width: 8px;
                height: auto;
            }
        }

        &__row {
            max-width: 425px;
        }

        &__client {
            gap: 5px;
            padding: 11px;
            top: 97px;
            right: 50px;
            border-radius: 5px;
            max-width: 136px;

            &-stars {
                margin-left: 11px;
                gap: 2px;

                & svg {
                    width: 9px;
                }
            }

            & p {
                margin-left: 11px;
            }

            &-button {
                min-width: auto;
                padding: 5px 10px;

                & .text {
                    font-size: 10px;
                }
            }
        }
    }

    .header {
        padding: 8px 20px;
        top: 8px;

        &__logo {
            margin-right: 50px;

            & img {
                &:first-child {
                    max-width: 56px;
                }

                &:last-child {
                    max-width: 26px;
                }
            }
        }

        &__service {
            padding: 10px;
            gap: 5px;
            border-radius: 10px;
            top: calc(100% + 5px);
        }

        &__menu {
            gap: 16px;

            &-more {
                width: 10px;
                height: auto;
            }
        }

        &__lang {
            gap: 5px;
        }

        &__button {
            gap: 10px;

            &-main {
                padding: 3px 6px;
                min-width: 82px;
                border-radius: 16px;
            }

            &-social {
                gap: 5px;

                & svg {
                    width: 21px;
                }
            }
        }
    }

    .project {
        margin-bottom: 60px;
        margin-top: -20px;

        &__button {
            padding: 7px 14px;
            gap: 14px;

            & svg {
                width: 8px;
                height: auto;
            }
        }

        &__overlay {
            & svg {
                width: 11px;
                height: auto;
            }
        }

        &__row {
            padding-top: 15px;
        }

        &__grid {
            margin-top: 13px;
            gap: 12px;

            &-item {
                height: 270px;
            }
        }

        &__title {
            & svg {
                width: 8px;
                height: auto;
            }
        }
    }

    .title {
        font-size: 25px;
    }

    .text {
        font-size: 11px;
    }

    .content {
        font-size: 8px;
    }

    .rule {
        margin-bottom: 60px;

        &__wrapper {
            margin-top: 32px;
            gap: 12px;
        }

        &__item {
            width: calc(25% - 9px);
            padding: 10px;
            gap: 22px;
            border-radius: 11px;

            &-title {
                font-size: 21px;
            }

            &-content {
                gap: 5px;
            }
        }

        &__button {
            margin-top: 22px;
            max-width: 160px;
            padding: 5px 10px;
        }
    }

    .service {
        margin-bottom: 60px;

        &__block {
            margin-top: 32px;
            padding: 32px 24px;
            border-radius: 16px;
            margin-bottom: 10px;
        }

        &__title {
            font-size: 32px;
        }

        &__text {
            font-size: 12px;
        }

        &__item {
            padding-top: 32px;
            padding-bottom: 15px;
            max-width: 495px;
            gap: 10px;

            & svg {
                width: 15px;
            }
        }
    }

    .article {
        margin-bottom: 140px;

        &__wrapper {
            margin-top: 32px;
            gap: 11px;
            margin-bottom: 10px;
        }

        &__big {
            padding: 11px;
            border-radius: 11px;
            gap: 11px;

            &-content {
                &-data {
                    margin-top: 3px;
                    margin-bottom: 5px;
                }

                &-right {
                    & svg {
                        width: 21px;
                    }
                }
            }
        }

        &__small {
            &-item {
                padding: 11px;
            }
        }
    }

    .talk {
        border-radius: 16px 16px 0 0;

        &__row {
            padding: 30px 0;
        }

        &__popup {
            padding: 11px 25px;
            border-radius: 16px;
            min-width: 292px;

            & .content {
                margin: 11px 0 16px 0;
                max-width: 172px;
            }

            & .title {
                max-width: 172px;
            }
        }

        &__lines {
            &-1 {
                width: 150px;
            }

            &-2 {
                width: 750px;
            }

            &-3 {
                width: 130px;
            }
        }
    }

    .popup {
        &__button {
            font-size: 10px;
            padding: 5px 13px;
            margin-top: 0;
        }

        &__form {
            max-width: 167px;

            &-group {
                & input {
                    font-size: 8px;
                }
            }
        }

        & input:focus, textarea:focus {
            font-size: 8px;
        }

        & input, textarea {
            font-size: 8px;
        }

        &__checkbox {
            &-group {
                & label {
                    & span {
                        font-size: 7px;
                    }
                }
            }
        }

        &__custom {
            &-box {
                width: 10px;
                margin-right: 3px;
                height: 10px;
            }
        }
    }

    ::placeholder {
        font-size: 8px;
    }

    ::-webkit-input-placeholder {
        font-size: 8px;
    }

    ::-moz-placeholder {
        font-size: 8px;
    }

    :-ms-input-placeholder {
        font-size: 8px;
    }

    .footer {
        &__row {
            padding: 20px 0 15px 0;
        }

        &__social {
            gap: 5px;
        }

        &__menu {
            gap: 5px;

            &-mini {
                gap: 3px;
            }
        }

        &__bottom {
            font-size: 8px;
            margin-top: 13px;
        }

        &__logo {
            margin-right: 125px;

            & img {
                &:first-child {
                    max-width: 125px;
                }

                &:last-child {
                    max-width: 127px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 20px;
    }

    .header {
        padding: 8px 20px;

        &__button {
            &-social {
                & svg {
                    width: 38px;
                }
            }
        }

        &__logo {
            & img {
                &:first-child {
                    max-width: 95px;
                }

                &:last-child {
                    max-width: 47px;
                }
            }
        }

        &__burger {
            display: block;
        }

        &__menu {
            display: none;
        }

        &__button {
            display: none;
        }
    }

    .first {
        &__title {
            font-size: 45px;
        }

        &__row {
            max-width: none;
        }

        &__subtitle {
            margin: 15px 0 30px 0;
        }

        &__client {
            position: relative;
            top: auto;
            padding: 20px;
            right: auto;
            max-width: max-content;
            margin: 0 auto 30px auto;

            &-stars {
                margin: 0 auto;

                & svg {
                    width: 21px;
                    margin: 0 auto;
                }
            }
        }

        &__button {
            width: auto;
            padding: 10px 30px;
        }
    }

    .text {
        font-size: 16px;
    }

    .content {
        font-size: 14px;
    }

    .footer {
        .text {
            font-size: 20px;
        }

        .content {
            font-size: 16px;
        }
    
        &__row {
            align-items: center;
            padding: 25px 0 50px 0;
        }

        &__nav {
            gap: 10px;
            flex-direction: column;
            width: 100%;
        }

        &__menu {
            &-second {
                & .text {
                    font-weight: 400;
                }
            }

            &:first-child {
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                gap: 10px;
            }
            
            &-service {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-top: 1px solid #fff;
                padding-top: 10px;
                margin-top: 10px;
            }
        }

        &__bottom {
            font-size: 12px;
        }

        &__top {
            flex-direction: column;
            gap: 20px;
        }

        &__logo {
            order: 1;
        }

        &__social {
            align-items: start;
        }
    }

    .project {
        &__button {
            gap: 7px;

            & svg {
                width: 15px;
            }
        }

        &__title {
            & svg {
                width: 15px;
            }
        }

        &__grid {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-item {
                max-width: 500px;
                max-height: none;
                width: 100%;
                height: auto;
            }
        }
    }

    .rule {
        &__wrapper {
            flex-direction: column;
        }

        &__item {
            width: 100%;

            &-second {
                & svg {
                    width: 180px;
                    right: 0;
                    left: auto;
                }
            }
        }
    }

    .service {
        &__block {
            background: transparent;
            gap: 20px;
            display: flex;
            flex-direction: column;
            padding: 0;
        }

        &__title {
            font-size: 35px;
        }

        &__lines {
            display: none;
        }

        &__text {
            font-size: 16px;
        }

        &__item {
            background: #FEE348;
            border-radius: 30px;
            padding: 30px;
            border: none;
            max-width: 100%;

            & svg {
                width: 44px;
            }

            &:first-child {
                padding: 30px;
            }

            &:last-child {
                padding: 30px;
            }
        }
    }

    .article {
        &__wrapper {
            flex-direction: column;
        }

        &__big {
            width: 100%;
            padding: 20px;
            border-radius: 20px;

            & img {
                max-height: 200px;
                width: 100%;
            }

            & .article__big-content {
                padding: 0;
            }
        }

        &__small {
            width: 100%;

            &-item {
                padding: 20px;
            }
        }
    }

    .popup {
        &__button {
            padding: 5px 20px;
            font-size: 16px;
        }

        &__form {
            max-width: 100%;

            &-group {
                & input {
                    font-size: 16px;
                }
            }
        }

        & input:focus, textarea:focus {
            font-size: 16px;
        }

        & input, textarea {
            font-size: 16px;
        }

        &__checkbox {
            &-group {
                & label {
                    & span {
                        font-size: 12px;
                    }
                }
            }
        }

        &__custom {
            &-box {
                width: 15px;
                margin-right: 5px;
                height: 15px;
            }
        }
    }

    .talk {
        &__row {
            padding: 50px 0;
        }
    }

    .Project {
        &__grids {
            & .project__grid:nth-of-type(1) {
                display: flex;
            }

            & .project__grid:nth-of-type(2) {
                display: flex;
            }
        }
        
        & .project__grid-item {
            height: 270px;
        }

        &.is-filtering .Project__filtered {
            display: flex;
        }

        &__filters {
            gap: 5px 3px;

            & .text {
                font-size: 14px;
            }

            & button {
                padding: 3px 10px;
                gap: 5px;
            }
        }

    }

    ::placeholder {
        font-size: 16px;
    }

    ::-webkit-input-placeholder {
        font-size: 16px;
    }

    ::-moz-placeholder {
        font-size: 16px;
    }

    :-ms-input-placeholder {
        font-size: 16px;
    }

    .decs {
        display: none;
    }

    .mob {
        display: flex;
    }
}

@media (max-width: 450px) {
    .service {
        &__item {
            padding: 20px;
            border-radius: 20px;

            &:first-child {
                padding: 20px;
            }

            & svg {
                width: 30px;
            }

            &:last-child {
                padding: 20px;
            }
        }

        &__text {
            font-size: 12px;
        }

        &__title {
            font-size: 25px;
        }
    }

    .Project {
        & .project__grid-item {
            height: 200px;
        }
    }
}